BPEL_Purchases/src/127.0.0.1_8080/WSCustomerService.wsdl

<definitions name='CustomerServiceService' targetNamespace='http://custsrv.eai.dei.uc.pt/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://custsrv.eai.dei.uc.pt/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://custsrv.eai.dei.uc.pt/' version='1.0' xmlns:tns='http://custsrv.eai.dei.uc.pt/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='doLogin' type='tns:doLogin'/>
   <xs:element name='doLoginResponse' type='tns:doLoginResponse'/>
   <xs:element name='doLogout' type='tns:doLogout'/>
   <xs:element name='doLogoutResponse' type='tns:doLogoutResponse'/>
   <xs:element name='doesClientHaveMoney' type='tns:doesClientHaveMoney'/>
   <xs:element name='doesClientHaveMoneyResponse' type='tns:doesClientHaveMoneyResponse'/>
   <xs:element name='getOrder' type='tns:getOrder'/>
   <xs:element name='getOrderResponse' type='tns:getOrderResponse'/>
   <xs:element name='getPurchase' type='tns:getPurchase'/>
   <xs:element name='getPurchaseResponse' type='tns:getPurchaseResponse'/>
   <xs:element name='listAllOrders' type='tns:listAllOrders'/>
   <xs:element name='listAllOrdersResponse' type='tns:listAllOrdersResponse'/>
   <xs:element name='listPurchases' type='tns:listPurchases'/>
   <xs:element name='listPurchasesResponse' type='tns:listPurchasesResponse'/>
   <xs:element name='registerUser' type='tns:registerUser'/>
   <xs:element name='registerUserResponse' type='tns:registerUserResponse'/>
   <xs:element name='shipped' type='tns:shipped'/>
   <xs:element name='shippedResponse' type='tns:shippedResponse'/>
   <xs:element name='submitOrder' type='tns:submitOrder'/>
   <xs:element name='submitOrderResponse' type='tns:submitOrderResponse'/>
   <xs:element name='updateOrder' type='tns:updateOrder'/>
   <xs:element name='updateOrderResponse' type='tns:updateOrderResponse'/>
   <xs:complexType name='getOrder'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getOrderResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:order'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='order'>
    <xs:sequence>
     <xs:element minOccurs='0' name='emailAddress' type='xs:string'/>
     <xs:element minOccurs='0' name='id' type='xs:int'/>
     <xs:element minOccurs='0' name='orderStatus' type='tns:orderStatus'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='orderedCameras' nillable='true' type='tns:camera'/>
     <xs:element minOccurs='0' name='purchaseDate' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='shippingAddress' type='xs:string'/>
     <xs:element minOccurs='0' name='username' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='camera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='id' type='xs:int'/>
     <xs:element minOccurs='0' name='model' type='xs:string'/>
     <xs:element minOccurs='0' name='price' type='xs:float'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='doLogin'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='doLoginResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:user'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='user'>
    <xs:sequence>
     <xs:element minOccurs='0' name='address' type='xs:string'/>
     <xs:element minOccurs='0' name='email' type='xs:string'/>
     <xs:element minOccurs='0' name='id' type='xs:int'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='username' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='doLogout'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='doLogoutResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='registerUser'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='registerUserResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listAllOrders'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listAllOrdersResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:order'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='submitOrder'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='arg0' type='tns:camera'/>
     <xs:element minOccurs='0' name='arg1' type='tns:user'/>
     <xs:element minOccurs='0' name='arg2' type='tns:orderStatus'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='submitOrderResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='updateOrder'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='tns:order'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='updateOrderResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='shipped'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:int'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='shippedResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listPurchases'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listPurchasesResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:order'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getPurchase'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getPurchaseResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:order'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='doesClientHaveMoney'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='doesClientHaveMoneyResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='orderStatus'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='WAITING_FOR_SHIPPING'/>
     <xs:enumeration value='SHIPPED'/>
     <xs:enumeration value='NOT_PAID'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='CustomerService_registerUserResponse'>
  <part element='tns:registerUserResponse' name='registerUserResponse'></part>
 </message>
 <message name='CustomerService_doLogin'>
  <part element='tns:doLogin' name='doLogin'></part>
 </message>
 <message name='CustomerService_updateOrderResponse'>
  <part element='tns:updateOrderResponse' name='updateOrderResponse'></part>
 </message>
 <message name='CustomerService_doesClientHaveMoneyResponse'>
  <part element='tns:doesClientHaveMoneyResponse' name='doesClientHaveMoneyResponse'></part>
 </message>
 <message name='CustomerService_getPurchase'>
  <part element='tns:getPurchase' name='getPurchase'></part>
 </message>
 <message name='CustomerService_getOrderResponse'>
  <part element='tns:getOrderResponse' name='getOrderResponse'></part>
 </message>
 <message name='CustomerService_listPurchases'>
  <part element='tns:listPurchases' name='listPurchases'></part>
 </message>
 <message name='CustomerService_doesClientHaveMoney'>
  <part element='tns:doesClientHaveMoney' name='doesClientHaveMoney'></part>
 </message>
 <message name='CustomerService_listAllOrders'>
  <part element='tns:listAllOrders' name='listAllOrders'></part>
 </message>
 <message name='CustomerService_shippedResponse'>
  <part element='tns:shippedResponse' name='shippedResponse'></part>
 </message>
 <message name='CustomerService_listAllOrdersResponse'>
  <part element='tns:listAllOrdersResponse' name='listAllOrdersResponse'></part>
 </message>
 <message name='CustomerService_doLoginResponse'>
  <part element='tns:doLoginResponse' name='doLoginResponse'></part>
 </message>
 <message name='CustomerService_getOrder'>
  <part element='tns:getOrder' name='getOrder'></part>
 </message>
 <message name='CustomerService_doLogout'>
  <part element='tns:doLogout' name='doLogout'></part>
 </message>
 <message name='CustomerService_updateOrder'>
  <part element='tns:updateOrder' name='updateOrder'></part>
 </message>
 <message name='CustomerService_listPurchasesResponse'>
  <part element='tns:listPurchasesResponse' name='listPurchasesResponse'></part>
 </message>
 <message name='CustomerService_submitOrder'>
  <part element='tns:submitOrder' name='submitOrder'></part>
 </message>
 <message name='CustomerService_shipped'>
  <part element='tns:shipped' name='shipped'></part>
 </message>
 <message name='CustomerService_submitOrderResponse'>
  <part element='tns:submitOrderResponse' name='submitOrderResponse'></part>
 </message>
 <message name='CustomerService_doLogoutResponse'>
  <part element='tns:doLogoutResponse' name='doLogoutResponse'></part>
 </message>
 <message name='CustomerService_registerUser'>
  <part element='tns:registerUser' name='registerUser'></part>
 </message>
 <message name='CustomerService_getPurchaseResponse'>
  <part element='tns:getPurchaseResponse' name='getPurchaseResponse'></part>
 </message>
 <portType name='CustomerService'>
  <operation name='doLogin' parameterOrder='doLogin'>
   <input message='tns:CustomerService_doLogin'></input>
   <output message='tns:CustomerService_doLoginResponse'></output>
  </operation>
  <operation name='doLogout' parameterOrder='doLogout'>
   <input message='tns:CustomerService_doLogout'></input>
   <output message='tns:CustomerService_doLogoutResponse'></output>
  </operation>
  <operation name='doesClientHaveMoney' parameterOrder='doesClientHaveMoney'>
   <input message='tns:CustomerService_doesClientHaveMoney'></input>
   <output message='tns:CustomerService_doesClientHaveMoneyResponse'></output>
  </operation>
  <operation name='getOrder' parameterOrder='getOrder'>
   <input message='tns:CustomerService_getOrder'></input>
   <output message='tns:CustomerService_getOrderResponse'></output>
  </operation>
  <operation name='getPurchase' parameterOrder='getPurchase'>
   <input message='tns:CustomerService_getPurchase'></input>
   <output message='tns:CustomerService_getPurchaseResponse'></output>
  </operation>
  <operation name='listAllOrders' parameterOrder='listAllOrders'>
   <input message='tns:CustomerService_listAllOrders'></input>
   <output message='tns:CustomerService_listAllOrdersResponse'></output>
  </operation>
  <operation name='listPurchases' parameterOrder='listPurchases'>
   <input message='tns:CustomerService_listPurchases'></input>
   <output message='tns:CustomerService_listPurchasesResponse'></output>
  </operation>
  <operation name='registerUser' parameterOrder='registerUser'>
   <input message='tns:CustomerService_registerUser'></input>
   <output message='tns:CustomerService_registerUserResponse'></output>
  </operation>
  <operation name='shipped' parameterOrder='shipped'>
   <input message='tns:CustomerService_shipped'></input>
   <output message='tns:CustomerService_shippedResponse'></output>
  </operation>
  <operation name='submitOrder' parameterOrder='submitOrder'>
   <input message='tns:CustomerService_submitOrder'></input>
   <output message='tns:CustomerService_submitOrderResponse'></output>
  </operation>
  <operation name='updateOrder' parameterOrder='updateOrder'>
   <input message='tns:CustomerService_updateOrder'></input>
   <output message='tns:CustomerService_updateOrderResponse'></output>
  </operation>
 </portType>
 <binding name='CustomerServiceBinding' type='tns:CustomerService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='doLogin'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='doLogout'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='doesClientHaveMoney'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getOrder'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getPurchase'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='listAllOrders'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='listPurchases'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='registerUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='shipped'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='submitOrder'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='updateOrder'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='CustomerServiceService'>
  <port binding='tns:CustomerServiceBinding' name='CustomerServicePort'>
   <soap:address location='http://127.0.0.1:8080/WSCustomerService'/>
  </port>
 </service>
</definitions>