Project 1/TP1_Support_Material/CameraSearchXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Vert">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1728"/>
				<xs:enumeration value="2304"/>
				<xs:enumeration value="2592"/>
				<xs:enumeration value="3456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SensorSize">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PictureUrl">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Canon"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Model">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EOS 7D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MinShutterSpeed">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MaxShutterSpeed">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MaxResolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaxResolution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaxResolution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Horiz"/>
				<xs:element ref="Vert"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LowerResolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LowerResolution" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LowerResolution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Horiz"/>
				<xs:element ref="Vert"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IsoRating">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ImageRatio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3:2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Horiz">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="2592"/>
				<xs:enumeration value="3456"/>
				<xs:enumeration value="3888"/>
				<xs:enumeration value="5184"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EffectivePixels">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="18.0 million"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DepthReviewUrl">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Date">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01/09/2009"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cameras">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Camera"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Camera">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model"/>
				<xs:element ref="Description"/>
				<xs:element ref="Date"/>
				<xs:element ref="MaxResolutions"/>
				<xs:element ref="LowerResolutions"/>
				<xs:element ref="ImageRatio"/>
				<xs:element ref="EffectivePixels"/>
				<xs:element ref="SensorSize"/>
				<xs:element ref="IsoRating"/>
				<xs:element ref="MinShutterSpeed"/>
				<xs:element ref="MaxShutterSpeed"/>
				<xs:element ref="DepthReviewUrl"/>
				<xs:element ref="PictureUrl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Brand">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Cameras"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
