Project 1/TP1_Support_Material/CameraSummaryXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Vert">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Brands"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Resolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaxResolutions"/>
				<xs:element ref="MinResolutions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Resolution">
		<xs:complexType/>
	</xs:element>
	<xs:element name="RecentAnnouncements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RecentAnnouncement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RecentAnnouncement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Model"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OldestAnnouncements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OldestAnnouncement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OldestAnnouncement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="Model"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberCameras">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Models">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Model">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MinResolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MinResolution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MinResolution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Resolution"/>
				<xs:element ref="Vert"/>
				<xs:element ref="Horiz"/>
				<xs:element ref="Model"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaxResolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaxResolution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaxResolution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Resolution"/>
				<xs:element ref="Vert"/>
				<xs:element ref="Horiz"/>
				<xs:element ref="Model"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Horiz">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Brands">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Brand"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Brand">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="NumberCameras"/>
				<xs:element ref="Announcements"/>
				<xs:element ref="Resolutions"/>
				<xs:element ref="Models"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Announcements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RecentAnnouncements"/>
				<xs:element ref="OldestAnnouncements"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
