BPEL_SearchCameras/src/CameraResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/cameraResponse"
    xmlns:tns="http://xml.netbeans.org/schema/cameraResponse"
    elementFormDefault="qualified">
    <xsd:complexType name="searchCamerasResponse">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="model" type="xsd:string"/>
            <xsd:element name="price" type="xsd:float"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SearchCameraInput" type="tns:searchCamerasResponse"/>
</xsd:schema>