OrchestratorOrderComposite/src/jbiServiceUnits/META-INF/BPEL_SearchCameras/src/127.0.0.1_8080/WSCameraSupplier.wsdl

<definitions name='CameraSupplierService' targetNamespace='http://cs.eai.dei.uc.pt/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://cs.eai.dei.uc.pt/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://cs.eai.dei.uc.pt/' version='1.0' xmlns:tns='http://cs.eai.dei.uc.pt/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='getCameras' type='tns:getCameras'/>
   <xs:element name='getCamerasResponse' type='tns:getCamerasResponse'/>
   <xs:complexType name='getCameras'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getCamerasResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:camera'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='camera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='date' type='xs:string'/>
     <xs:element minOccurs='0' name='model' type='xs:string'/>
     <xs:element minOccurs='0' name='price' type='xs:float'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='CameraSupplier_getCamerasResponse'>
  <part element='tns:getCamerasResponse' name='getCamerasResponse'></part>
 </message>
 <message name='CameraSupplier_getCameras'>
  <part element='tns:getCameras' name='getCameras'></part>
 </message>
 <portType name='CameraSupplier'>
  <operation name='getCameras' parameterOrder='getCameras'>
   <input message='tns:CameraSupplier_getCameras'></input>
   <output message='tns:CameraSupplier_getCamerasResponse'></output>
  </operation>
 </portType>
 <binding name='CameraSupplierBinding' type='tns:CameraSupplier'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getCameras'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='CameraSupplierService'>
  <port binding='tns:CameraSupplierBinding' name='CameraSupplierPort'>
   <soap:address location='http://127.0.0.1:8080/WSCameraSupplier'/>
  </port>
 </service>
</definitions>